.searchbar-container {
    width: 500px;
    text-align: center;
}

.searchbar-container h1 {
    margin: 0;
}

.searchbar-container input {
    border: none;
    background: none;
    border-bottom: 1px solid black;
    border-radius: 0;
    text-align: center;
    font-size: 2em;
    color: white !important;
    padding-bottom: 0;
    display: inline-block;
    width: 85%;
}

.searchbar-container input:focus {
    border: none;
    background: none;
    border-bottom: 1px solid black;
    border-radius: 0;
    box-shadow: initial;
}

.searchbar-container span {
    display: inline-block;
    width: 15%;
    font-size: 2em;
    border-bottom: 1px solid black;
    padding: 0 5px 3px 5px;
}
